# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [142]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [143]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [144]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [145]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [146]:
# Your code here:
print('-------------- Salary --------------')
print(salaries[['Typical Hours', 'Annual Salary', 'Hourly Rate']][salaries['Salary or Hourly'] == 'Salary'].isnull().sum())
print('-------------- Hourly --------------')
print(salaries[['Typical Hours', 'Annual Salary', 'Hourly Rate']][salaries['Salary or Hourly'] == 'Hourly'].isnull().sum())

-------------- Salary --------------
Typical Hours    25161
Annual Salary        0
Hourly Rate      25161
dtype: int64
-------------- Hourly --------------
Typical Hours       0
Annual Salary    8022
Hourly Rate         0
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [147]:
# Your code here:

salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [148]:
salaries[salaries['Salary or Hourly'] == 'Hourly'].count()

Name                 8022
Job Titles           8022
Department           8022
Full or Part-Time    8022
Salary or Hourly     8022
Typical Hours        8022
Annual Salary           0
Hourly Rate          8022
dtype: int64

In [149]:
# Your code here:
from scipy.stats import ttest_1samp
from statsmodels.stats import weightstats as stests

result = ttest_1samp(salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'],30)
print(result)
if result.pvalue<0.05:
    print(f"reject null hypothesis using ttest_1samp because pval = {result.pvalue}")
    print("there is no significant difference")
else:
    print(f"accept null hypothesis because pval = {result.pvalue}")


ztest ,pval1 = stests.ztest(salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'], value=30,alternative='two-sided')
print(ztest)
if pval1<0.05:
    print(f"reject null hypothesis using ztest because pval = {pval1}")
    print("there is no significant difference")
else:
    print(f"accept null hypothesis because pval = {pval1}")

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)
reject null hypothesis using ttest_1samp because pval = 4.3230240486229894e-92
there is no significant difference
20.6198057854942
reject null hypothesis using ztest because pval = 1.8228873859286195e-94
there is no significant difference

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [150]:
# Your code here:
#Checking all police departments inside dataframe
#print(salaries[salaries['Department'].str.upper().str.find('POLICE') == 0]['Department'].unique())
from scipy.stats import ttest_1samp

print(salaries[salaries['Department'] == 'POLICE']['Department'].unique())

salaries_police = salaries['Annual Salary'][ (salaries['Department'] == 'POLICE') & ~salaries['Annual Salary'].isnull()]
result = ttest_1samp(salaries_police,86_000,alternative='greater')
#si buscamos un valor mas grande de la media, usamos el alternative = greater
print(result)
#salaries
if result.pvalue<0.05:
    print(f"reject null hypothesis using ttest_1samp because pval = {result.pvalue}")
    print("there is no significant difference")
else:
    print(f"accept null hypothesis because pval = {result.pvalue}")

['POLICE']
Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0010301701775482569)
reject null hypothesis using ttest_1samp because pval = 0.0010301701775482569
there is no significant difference

Using the `crosstab` function, find the department that has the most hourly workers.

In [151]:
# Your code here:

salaries_cross = pd.crosstab(salaries.Department, salaries['Salary or Hourly'][salaries['Salary or Hourly'] == 'Hourly']).sort_values(by='Hourly' , ascending=False)
salaries_cross

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [152]:
# Your code here:
streets=salaries[salaries.Department=='STREETS & SAN']['Hourly Rate'].dropna()



result = ttest_1samp(salaries['Hourly Rate'][(salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')], 35 , alternative='less')
print(result)
#salaries
if result.pvalue<0.05:
    print(f"reject null hypothesis using ttest_1samp because pval = {result.pvalue}")
    print("there is no significant difference")
else:
    print(f"accept null hypothesis because pval = {result.pvalue}")

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)
reject null hypothesis using ttest_1samp because pval = 1.6689265282353859e-21
there is no significant difference

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [170]:
# Your code here:
from scipy.stats import t
from scipy.stats import sem

salaries_rate = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
salaries_shape = salaries_rate.shape[0]

#loc= mean
#scale = standard error
#df= len - 1
#alpha= confidence level
t.interval(alpha=0.95, df= salaries_shape-1,loc=np.mean(salaries_rate), scale=sem(salaries_rate))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [177]:
# Your code here:
salaries_sal = salaries[(salaries['Salary or Hourly']=='Salary') & (salaries.Department == 'POLICE')]['Annual Salary']
salaries_sal_shape = salaries_sal.shape[0]

print(t.interval(alpha=0.95, df= salaries_sal_shape-1,loc=np.mean(salaries_sal), scale=sem(salaries_sal)))

(86177.05631531784, 86795.77269094894)

86486.41450313339

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [184]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

salaries_rate = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
salaries_shape = salaries_rate.shape[0]
workers = salaries.shape[0]
proportions_ztest(salaries_shape, workers, value=.25)

(-3.5099964213703005, 0.0004481127249057967)